<script>
    tt_cancel_destination = "/?active_tab=tab2";
</script>

<style>
    #Unknown {
        display: none;
    }
</style>
<form action="/encounters/duplicate_encounters" method='post'>

  <%= text_field_tag("start_date", nil, {:field_type => 'date', :helpText => 'Start date'}) %> <br>
  <%= text_field_tag("end_date", nil, {:field_type => 'date', :helpText => 'End date'})%><br>
  <%= submit_tag value="Submit"%>
</form>
