<html>
  <head>
    <title>Current Visit</title>
    <script>

    </script>
    <style type="text/css">
      body {
        font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
        -moz-user-select:none;
      }

      #stats {
        width:98%;
        border:1px solid #eee;
        margin:10px;
        margin-top: 0px;
        background:white;
      }
      #stats td, #stats th {
        text-align:center;
      }
      .odd {
        background-color: #eeeef7;
      }
      .even {
        background-color: #fff;
      }

      #table_div {
        overflow:auto;
        height: 320px;
        background-color: white;
        border: solid 1px #eee;
        border-width: 1px;
        overflow: hidden;
      }

      .btn {
        min-height: 50px;
        margin: 0px;
        margin-bottom: 5px;
        font-size: 1.2em;
        background-color: #6281a7;
        color: #FFF;
        font-weight: normal;
        border: 5px outset #000;
        padding: 10px;
        cursor: pointer;
        background:url(../images/btn_blue.png) right repeat;
        -moz-user-select:none;
        -moz-user-focus:disabled;
      }

      .btn:hover {
        background:url(../images/btn_blue_hover.png) right repeat;
        -moz-user-select:none;
        -moz-user-focus:disabled;
      }

      .btn:active {
        background:url(../images/btn_yellow.png) right repeat;
        border: 3px inset #000;
      }

      ul{
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 0px;
      }
      li{
        color: black;
        list-style: none;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-family:"Nimbus Sans L","Arial Narrow",sans-serif;
      }

      .messageBar {
        left: 140px;
        width: 450px;
        position: absolute;
        top: 1px;
        font-size: 1.8em;
        text-align: center;
        background-color: tomato;
        padding: 10px;
        z-index: 999;
        border: 5px outset tomato;
        display: none;
        border-radius: 15px;
      }

      .messageBar button {
        font-size: 0.7em;
        margin: 5px;
      }

      button {
        min-height: 50px;
        min-width: 50px;
        margin: 0px;
        margin-bottom: 5px;
        font-size: 1.2em;
        background-color: #6281a7;
        color: #FFF;
        font-weight: normal;
        border: 5px outset #000;
        padding: 10px;
        cursor: pointer;
        background:url(/touchscreentoolkit/lib/images/btn_blue.png) right repeat;
        -moz-user-select:none;
        -moz-user-focus:disabled;
        float: right;
      }

      button:hover {
        background:url(/touchscreentoolkit/lib/images/btn_blue_hover.png) right repeat;
        -moz-user-select:none;
        -moz-user-focus:disabled;
      }

      button:active {
        background:url(/touchscreentoolkit/lib/images/btn_yellow.png) right repeat;
        border: 3px inset #000;
      }

      .enc_text{
          width: 75%;
          oveflow-x: hidden;
      }
      .tick-image{
        width: 8%;
      }

    </style>

  </head>
  <body onload="setDefaultView()">
    <div id="content" style="background-color: #fff; border-top: 1px #fff solid; margin-top: 0px;">

      <h2 style="color: #6281a7; margin-top: -2px; margin-bottom: 0px; padding-left: 10px;width:99%;">
        Current Visit Summary

        <span style="float:right"> Current Date: <%= session[:datetime].blank? ? Date.today.to_date.strftime('%d/%b/%Y') : "<span style='color:red'>#{session[:datetime].to_date.strftime('%d/%b/%Y')}</span>" %></span>
      </h2>

      <table id="stats" style="margin-bottom: 8px;" cellpadding="5">
        <tr style="color: #fff; background-color: #6281a7;">
          <th style="width: 27.75%;">Visit Date</th>
          <th style="width: 33%;">Task</th>
          <th style="">Details</th>
        </tr>
        <tr>
        <td colspan="3">
        <div style="height: 235px; overflow: hidden; border: 1px solid #ccc;">
          <table width="100%" cellpadding="5">
            <tr>
              <td style="width: 27%; text-align: left;
                      vertical-align: top; font-size: 1.5em; color: #1f3b5e;">

                <div style="width: 100%; height: 220px; overflow: auto;">

                  <% dates = [] %>
                  <%
                     e = 0
                     @data.each do |d| %>

                      <% dates << "date#{d}" %>

                      <div id="<%= "date#{d}" %>" style="width: 100%; display: table; border-spacing: 0px;">

                        <div class="date" id="<%= "parent_date#{d}" %>" style="display: table-row;"
                             onclick="__$('obs').innerHTML = '';checkRadio('date<%= d %>', controlsSet2);
                                     loadEncounters('<%= d%>')">

                          <div style="display: table-cell; vertical-align: middle; cursor: pointer;
                                  <%= (e == 0 ? " border-top: 1px dotted #6281a7; " : "") %>
                                  width: 40px; text-align: center; border-bottom: 1px dotted #6281a7;">

                            <img src="/touchscreentoolkit/lib/images/unchecked.png" height="30"
                                 alt="O" />

                          </div>
                          <div style="display: table-cell; vertical-align: middle; cursor: pointer;
                                  <%= (e == 0 ? " border-top: 1px dotted #6281a7; " : "") %>
                                  border-bottom: 1px dotted #6281a7; padding: 5px; ">

                            <%= d.to_date.strftime('%d/%b/%Y') %>

                            <div style="font-size: 0.5em; font-style: italic;
                                    vertical-align: middle;">

                            </div>

                          </div>
                        </div>

                      </div>
                  <%
                     e += 1
                     end %>

                </div>

              </td>
          <td >
            <div style="height: 235px; overflow: hidden; border: 1px solid #ccc;">
              <table width="100%" cellpadding="5">
                <tr>
                  <td style="max-width: 46%; width: 47%; text-align: left;
                      vertical-align: top; font-size: 1.25em; color: #1f3b5e;">

                    <div id="encounter" style="width: 100%; height: 220px; overflow: auto;">

                      <% controls = [] %>
                      <% (0..(@encounter_data.length - 1)).each do |e| %>
                        <% controls << "encounter#{@encounter_data[e][0]}" %>

                        <div  class = "encounter <%= @encounter_data[e][4]%>" id="<%= "encounter#{@encounter_data[e][0]}" %>" style="width: 100%; display: table; border-spacing: 0px;">

                          <div id="<%= "parent_encounter#{@encounter_data[e][0]}" %>" style="display: table-row;">

                            <div class="tick-image <%=  "e#{e}"%>" style="display: table-cell; vertical-align: middle; cursor: pointer;
                            <%= (e == 0 ? " border-top: 1px dotted #6281a7; " : "") %>
                                 width: 40px; text-align: center; border-bottom: 1px dotted #6281a7;"
                                 onclick="__$('obs').innerHTML = '';checkRadio('encounter<%= @encounter_data[e][0] %>', controlsSet1);
                                     ajaxCustomRequest(__$('obs'), 'list_observations?encounter_id=<%= @encounter_data[e][0] %>', 'encounter')">

                              <img src="/touchscreentoolkit/lib/images/unchecked.png" height="30"
                                   alt="O" />

                            </div>
                            <div class="enc_text" style="display: table-cell; vertical-align: middle; cursor: pointer;
                            <%= (e == 0 ? " border-top: 1px dotted #6281a7; " : "") %>
                                 border-bottom: 1px dotted #6281a7; padding: 5px; "
                                 onclick="__$('obs').innerHTML = '';checkRadio('encounter<%= @encounter_data[e][0] %>', controlsSet1);
                                     ajaxCustomRequest(__$('obs'), 'list_observations?encounter_id=<%= @encounter_data[e][0] %>', 'encounter')"
                                 >

                              <%= (@encounter_data[e][1] || "").gsub(/Dispensing/i, "TTV Status") %>

                              <span style="font-size: 0.7em; font-style: italic;">(<%= @encounter_data[e][2] %>)</span>
                            </div>

                            <% if (current_user.user_id == @encounter_data[e][3]) || current_user.admin?%>
                              <div class="image" onclick="confirmDeletion('Do you really want to delete this encounter?', '<%= @encounter_data[e][0]%>', 'encounter')" class="void" style="display: table-cell; float:right; padding: 11px; background: white; cursor: pointer;">
                                <img height="30" src="/images/cancel_flat_small_red.png" alt="X"/>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>

                      <% (0..(@bart2_encounter_data.length - 1)).each do |e| %>
                        <% controls << "bart2_encounter#{@bart2_encounter_data[e][0]}" %>

                        <div id="<%= "bart2_encounter#{@bart2_encounter_data[e][0]}" %>" style="width: 100%; display: table; border-spacing: 0px;">

                          <div class="encounter <%= @bart2_encounter_data[e][4]%>" id="<%= "parent_bart2_encounter#{@bart2_encounter_data[e][0]}" %>" style="display: table-row;">

                            <div class="<%=  "e#{e}"%>" style="display: table-cell; vertical-align: middle; cursor: pointer;
                            <%= (e == 0 ? " border-top: 1px dotted #6281a7; " : "") %>
                                 width: 40px; text-align: center; border-bottom: 1px dotted #6281a7;"
                                 onclick="checkRadio('bart2_encounter<%= @bart2_encounter_data[e][0] %>', controlsSet1);
                                     ajaxCustomRequest(__$('obs'), 'list_observations?bart2=true&encounter_id=<%= @bart2_encounter_data[e][0] %>', 'bart2_encounter')"
                                 >

                              <img src="/touchscreentoolkit/lib/images/unchecked.png" height="30"
                                   alt="O" />

                            </div>
                            <div style="display: table-cell; vertical-align: middle; cursor: pointer;
                            <%= (e == 0 ? " border-top: 1px dotted #6281a7; " : "") %>
                                 border-bottom: 1px dotted #6281a7; padding: 5px; "
                                 onclick="__$('obs').innerHTML = '';checkRadio('bart2_encounter<%= @bart2_encounter_data[e][0] %>', controlsSet1);
                                     ajaxCustomRequest(__$('obs'), 'list_observations?bart2=true&encounter_id=<%= @bart2_encounter_data[e][0] %>', 'bart2_encounter')"
                                 >

                              <%= @bart2_encounter_data[e][1] %>

                              <span style="font-size: 0.7em; font-style: italic;">(<%= @bart2_encounter_data[e][2] %>)</span>
                            </div>

                            <% if (current_user.user_id == @bart2_encounter_data[e][3]) || current_user.admin?%>
                              <div onclick="confirmDeletion('Do you really want to delete this encounter?', '<%=  @bart2_encounter_data[e][0]%>', 'bart2_encounter')" class="void" style="display: table-cell; float:right; padding: 10px; background: white; cursor: pointer;">
                                <img height="30" src="/images/cancel_flat_small_red.png" alt="X"/>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>

                    </div>

                  </td>

                  <td style="border-left: 1px dotted #ccc;">
                    <div style="width: 100%; height: 220px; overflow: auto;">
                      <ul id="obs" style="width: 100%;"></ul>
                    </div>
                  </td>
                </tr>

              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <script type="text/javascript">
      <!--

      var controlsSet1 = <%= (controls rescue []).to_json %>;

      var controlsSet2 = <%= (dates rescue []).to_json %>;;

      function __$(id){
        return document.getElementById(id);
      }

      function setDefaultView(){
        var day_one = document.getElementsByClassName("date")[0];
        if (day_one != undefined){
          day_one.onclick.apply(day_one);
        }
      }

      function checkRadio(id, controls){

        for(var i = 0; i < controls.length; i++){
          if(__$(controls[i])){

            __$(controls[i]).getElementsByTagName("img")[0].src = "/touchscreentoolkit/lib/images/unchecked.png";
            __$("parent_" + controls[i].trim()).style.backgroundColor = "white";
          }
        }

        __$(id).getElementsByTagName("img")[0].src = "/touchscreentoolkit/lib/images/checked.png";
        __$("parent_" + id).style.backgroundColor = "lightblue";
      }

      function ajaxCustomRequest(aElement1, aUrl, cat) {
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function() {
          handleCustomResult(aElement1, httpRequest, cat);
        };
        try {
          httpRequest.open('GET', aUrl, true);
          httpRequest.send(null);
        } catch(e){
        }
      }

      function handleCustomResult(optionsList, aXMLHttpRequest, cat) {
        if (!aXMLHttpRequest) return;

        if (!optionsList) return;

        if (aXMLHttpRequest.readyState == 4 && (aXMLHttpRequest.status == 200 ||
          aXMLHttpRequest.status == 304)) {

          optionsList.innerHTML = "";

          var result = JSON.parse(aXMLHttpRequest.responseText);
        
          for(var i = 0; i < result.length; i++){

            var li = document.createElement("li");

            optionsList.appendChild(li);

            var tbl = document.createElement("div");
            tbl.style.display = "table";
            tbl.style.width = "100%";
            tbl.style.borderBottom = "1px dotted #6281a7";

            li.appendChild(tbl);

            var row = document.createElement("div");
            row.style.display = "table-row";

            tbl.appendChild(row);

            var cell0 = document.createElement("div");
            cell0.style.display = "table-cell";
            cell0.style.width = "20px";
            cell0.style.fontWeight = "bold";
            cell0.style.color = "#1f3b5e";
            cell0.style.fontStyle = "italic";
            cell0.innerHTML = (i + 1) + ".";
            cell0.style.verticalAlign = "top";

            row.appendChild(cell0);

            var cell1 = document.createElement("div");
            cell1.style.display = "table-cell";
            cell1.style.paddingLeft = "5px";
            cell1.style.textAlign = "left";
            cell1.style.width = "33%";
            cell1.style.color = "#1f3b5e";
            cell1.style.verticalAlign = "top";

            cell1.innerHTML = (result[i][0] == "drg")? result[i][1].split(":")[0].replace(/null/g, " -- ") : result[i][1].trim().split("|")[0];

            row.appendChild(cell1);

            var cell2 = document.createElement("div");
            cell2.style.display = "table-cell";
            cell2.style.paddingBottom = "4px";
            cell2.style.paddingTop = "4px";
            cell2.style.paddingLeft = "20px";
            cell2.style.textAlign = "left";
            cell2.style.color = "green";
            cell2.style.verticalAlign = "top";
            cell2.innerHTML = (result[i][0] == "drg")? result[i][1].split(": ")[1].replace(/null/g, " -- ") : result[i][1].trim().split("|")[1];

            row.appendChild(cell2);
          }
        }
      }

      function runCmd(id, cat){
        ajaxCustomRequest(__$('obs'), 'void?user_id=<%= session[:user_id] %>&cat=' + cat + '&encounter_id=' + id + "&patient_id=<%= params[:patient_id] %>");

        if (cat == "encounter"){

          __$("encounter").removeChild(__$("encounter" + id));
        }else{

          if (__$("bart2_encounter" + id) != undefined){
            __$("encounter").removeChild(__$("bart2_encounter" + id));
          };
        }
        setTimeout((function (){
          parent.window.location =  parent.window.location;
        }), 130);
      }

      function confirmDeletion(message, id, cat) {
        if (!tstMessageBar) {

          var tstMessageBar = document.createElement("div");
          tstMessageBar.id = "messageBar";
          tstMessageBar.className = "messageBar";

          tstMessageBar.innerHTML = message + "<br/>" +
            "<button onmousedown=\"__$('content').removeChild(document.getElementById('messageBar')); " +
            "runCmd('" + id + "', '" + cat + "');\"><span>Yes</span></button><button onmousedown=\"__$('content')" +
            ".removeChild(document.getElementById('messageBar'));\"><span>No</span></button>";

          tstMessageBar.style.display = "block";
          __$('content').appendChild(tstMessageBar);
        }

        return false;

      }

      function loadEncounters(date){
         var encounters = document.getElementsByClassName("encounter");

         for (var i in encounters){
             try {
                 encounters[i].style.display = "none";
             }catch(e){}
         }

         var target_encounters = document.getElementsByClassName(date);

         for (var i in target_encounters){
             try {
                 target_encounters[i].style.display = "block";
             }catch(e){}
         }

          try {
              var first_node = target_encounters[0].getElementsByTagName("img")[0];
              first_node.click();
          }catch(e){}
      }

      //-->
    </script>
  </body>
</html>
