<script type="text/javascript" language="javascript">
  <!--
  tt_cancel_show = "/clinic";
  tt_cancel_destination = "/clinic";
</script>
<div style="padding: 200px;">
  <h1 style="color: red;">Sorry, this system only allows age atleast 13 years old</h1>
</div>
